html {
  color: #000000;
  font-family: sans-serif;
  font-size: 18px;
  text-align: center;
}

body {
  background-color: #FFFFFF;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 128px auto 32px auto;
  width: 342px;
}

img {
  height: 128px;
  width: 128px;
}

h1 {
  font-weight: normal;
  line-height: 1.25em;
  margin-block: 0;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}